$subtle: #bbb;
$grey: #ccc;

body{
	overflow-x: scroll;
	padding: 0;
	border-top: 6px solid $grey;
}

section{
	margin-bottom: 1rem;
}

aside{
	float: left;
	border-left: $subtle;
}

footer{
	clear: both;
	margin: 1em;
}
form .btn{
	float: right;
	margin-left: 1em;
}

form.close{
	position: relative;
	top: 0;
	right: 0;
}

.masthead{
	border-bottom: 1px solid $subtle;
	line-height: 1.5em;
	overflow: hidden;
	h3, nav{
		display: inline-block;
	}
	h3{
		margin: 0 0 0 .5em;
		padding-bottom: .5em;
		padding-top: .5em;
	}
}

.app{
	margin: 1em;
	clear: both;
}

#scheduleIntervalInput{
	width: 3em;
}

.form-inline label{
	margin: 0 .5em;
}

.day{
	display: block;
	width: 105px;
	min-height: 500px;
	margin: 1em .6em;
	padding-left: .6em;
	float: left;
}

.day + .day {
	border-left: 3px solid $subtle;
}

.dayTitle{
	text-align: center;
	padding-bottom: 3px;
}

.dayMDate{
	border-bottom: 1px solid $subtle;
}

.shiftComposer{
	float: left;
}

.shiftList { 
	list-style-type: none; 
	padding: 3px;
	overflow: hidden;
	min-height: 2em;
	width: 100%;
	background-color: #eee;
	float: left;
	&.unscheduled{
		width: auto;
		background-color: transparent;
	}
}

.shift{
	text-align: center;
	padding: .5em;
	background-color: #eee;
	border: 1px solid $subtle;
	font-size: 1em; 
	display: block;

	&:hover{
		cursor: move;
	}
	&.unscheduled{
		border: 1px dotted $subtle;
	}
	h5{
	margin: 0;

	}
}

.day .shiftList .shift{
	border: 1px solid $grey !important;
}

.print{
	display: none;
}

.fine-print{
	font-size: 10px;
}

.wrapped{
	overflow: hidden;
}

.shiftModal{
	width: 300px;
	height: 300px;
	margin: auto;
  	position: fixed;
  	top: 0; left: 0; bottom: 0; right: 0;
	z-index: 1000;
	h5{
		float: left;
		margin-bottom: 1em;
	}
}

@media only print{
	.print{
		display: inline-block;
	}
	.hideOnPrint{
		display: none;
	}
	.fine-print{
		float: right;
		position: fixed;
		bottom: 5px;
	}
	input[type=text]{
		border: none;
    	background: transparent;
	}

	.floatOnPrint{
		float: right;
		display: inline;
		text-align: right;
	}

	.dayCols{
		clear: both;
	}
}