<!doctype html>
<html ng-app="schedulr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <title>Schedulr - A dead-simple schedule creator for small businesses</title>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
  <script src="js/modules/sortable.js"></script>
  <script src="js/modules/moment.min.js"></script>
  <script src="js/schedulr.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/schedulr.css" rel="stylesheet">
  <link href="css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
</head>
<body>
  <div ng-controller="SchedulrCtrl" class="app" id="schedulr">
    <h3 class="class="inline hideOnPrint"">Schedulr</h3>
    <section class="toolbar">
      <form class="form-inline">
        <div class="form-group">
          <label for="weekStart">Week Starting: </label> <input id="weekStart" value="10/10/2010" name="weekStart" ng-model="weekStart" type="text" class="form-control"/>
        </div>
        <div class="form-group">
          <label class="hideOnPrint" for="scheduleInterval">Total Days: </label> <input id="scheduleIntervalInput" name="scheduleInterval" ng-model="scheduleInterval" type="text" class="hideOnPrint form-control"/>
        </div>
      </form>
    </section>
    <section class="composer">
      <div class="shiftComposer hideOnPrint">
        <form class="shiftBuilder">
          <div class="form-group">
            <input id="empInput" ng-model="shiftBuilderName" name="empInput" type="text" class="form-control" placeholder="Employee Name" tabindex="1"/>
          </div>
          <div class="form-group">
            <input id="shiftStartInput" ng-model="shiftBuilderStart" name="shiftStartInput" type="text" class="form-control" placeholder="Shift Start" tabindex="2"/>
          </div>
          <div class="form-group">
            <input id="shiftEndInput" ng-model="shiftBuilderEnd" name="shiftEnd" type="text" class="form-control" placeholder="Shift End" tabindex="3"/>
          </div>
          <div class="form-group">
              <a class="btn btn-primary" ng-click="addShift()" tabindex="4">Create Shift</a>
          </div>
        </form>
        <ul ui-sortable="sortableOptions" ng-model="unScheduledShifts" class="shiftList unscheduled">
          <li ng-repeat="shift in unScheduledShifts" class="shift unscheduled">
            <h5><strong>{{ shift.empName }}</strong></h5>
            <span>{{ shift.start }} &mdash; {{ shift.end }}
          </li>
        </ul>
      </div>
      <div class="dayCols">
        <div class="day" ng-repeat="day in days">
          <h4 class="dayTitle dayOfWeek"><strong>{{day.dayOfWeek}}</strong></h4>
          <h5 class="dayTitle dayMDate">{{day.mDate}}</h5>
          <ul ui-sortable="sortableOptions" ng-model="day.shifts" class="shiftList" id="{{day.dId}}">
            <li class="shift" ng-repeat="shift in day.shifts">
              <h5><strong>{{ shift.empName }}</strong></h5>
              <span>{{ shift.start }} &mdash; {{ shift.end }}
            </li>
          </ul>
          </div>
        </div>
      </section>
    </div>
    <footer class="fine-print"><small class=""><span class="print">Created using </span> Schedulr &mdash; A dead-simple schedule creator for small businesses. A product by <a href="http://crunchyowl.com">www.crunchyowl.com</a></small></footer>
    <script>

    (function ($){

      $(function() {
        $( "#weekStart" ).datepicker({
          showAnim: "fadeIn"
        }).val(moment().format('L')).change();

      });

    })(jQuery);

    </script>
  </body>
  </html>